<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<!-- catalog_product_is_salable_after -->		
    <event name="catalog_product_is_salable_after">
        <observer name="vk_product_available" instance="Vishwas\Hideprice\Observer\SalableObserver" />
    </event>
	<!-- sales_quote_product_add_after -->	    
    <event name="sales_quote_product_add_after">
        <observer name="vk_product_available" instance="Vishwas\Hideprice\Observer\QuoteObserver" />
    </event>
	<!-- catalog_product_collection_load_after -->	    
    <event name="catalog_product_collection_load_after">
        <observer name="vk_product_available" instance="Vishwas\Hideprice\Observer\CollectionObserver" />
    </event>  
	<!-- catalog_product_load_after -->	    
    <event name="catalog_product_load_after">
        <observer name="vk_product_available" instance="Vishwas\Hideprice\Observer\ProductObserver" />
    </event>  	
</config>
